body {
    font-family: Arial, Helvetica, sans-serif;
}

button {
    border: 0px;
    background-color: rgb(72, 61, 139);
    color: white;
    padding: 8px;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: rgb(94, 81, 180);
}

.remove-button {
    background: none;
    color: rgb(179, 0, 0);
    cursor: pointer;
}

.remove-button:hover {
    background: none;
    color: rgba(255, 0, 0);
}

table {
    margin: 10px;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 0px;
    margin: 5px;
}

tbody tr:hover {
    background-color: #f5f5f5;;
}

td {
    border-bottom: 1px solid lightgrey;
}

th {
    font-weight: normal;
    text-align: left;
    border-bottom: 1px solid black;
}